.main{
  display: flex;
  align-items: center;
  text-align: center;
  /* border: 2px solid; */
  justify-content: center;
  margin: 20px;
  flex-direction: column;
  background-color: bisque;
  border-radius: 20px;
  margin-top: 200px;
  box-shadow: 10px 5px 5px 5px;
  padding: 20px;
}
.main button{
    padding: 10px 20px;
    margin: 10px;
    background-color: ghostwhite;
}
.main button:hover{
    cursor: pointer;
    background-color: bisque;
    color: #fff;
}
.main input{
    padding: 10px;
    border-radius: 5px;
    border-right-style: dotted;
    border-left-style: dotted;
    border-top-style: dashed;
}
.subMain{
    margin: 20px;
}